.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }


  .small {
     width: 70%;
     height: 70%;
  }

  img {
      margin:0;
      display: block;
  }

  mat-toolbar {
      padding: 10px;
      margin: 0
  }