<app-top-toolbar></app-top-toolbar>

<div class="example-container">
  <mat-vertical-stepper>
    <mat-step label="Insert your ID card into the EID reader"> </mat-step>
    <mat-step label="Enter additional information">
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="emailFormControl" />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Visiter"
          aria-label="Visiter"
          [matAutocomplete]="auto"
          [formControl]="activeDirectoryUsersFormControl"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let user of filteredActiveDirectoryUsers | async"
            [value]="user.name"
          >
            <span>{{ user.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-step>
    <mat-step label="Enjoy guest access!"> </mat-step>
  </mat-vertical-stepper>
</div>
