.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 50%;
    margin: auto;
    padding-top: 20px;
  }


  .example-full-width {
    width: 70%;

  }
  
  td {
    padding-right: 8px;
  }
  