.example-container {
  flex: 1;
  }
  
  .example-container > * {
    width: 50%;
    margin: auto;
    margin-top: 0;
    padding-top: 20px;
  }


  .example-full-width {
    width: 70%;

  }
  
  td {
    padding-right: 8px;
  }
  

  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }