<app-top-toolbar></app-top-toolbar>

<div class="example-container">
  <mat-vertical-stepper linear>
    <mat-step label="Insert your ID card into the EID reader">
      <mat-form-field>
        <input matInput placeholder="First Name" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" />
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Enter your email address"  [stepControl]="emailFormControl">
      <ng-template matStepperIcon="email">
        <mat-icon>email</mat-icon>
      </ng-template>
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="emailFormControl" />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Who are you visiting?" [stepControl]="activeDirectoryUsersFormControl">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Visitee"
          aria-label="Visitee"
          [matAutocomplete]="auto"
          [formControl]="activeDirectoryUsersFormControl"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let user of filteredActiveDirectoryUsers | async"
            [value]="user.name"
          >
            <span>{{ user.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Enjoy guest access!"> </mat-step>
  </mat-vertical-stepper>
</div>
