<h2 mat-dialog-title>Gebruikersvoorwaarden</h2>
<mat-dialog-content class="mat-typography">
  <p>
    Door ‘Akkoord’ aan te vinken en de dienst te gebruiken, verklaart de
    bezoeker in lijn te handelen met deze gebruikersvoorwaarden, de beoogde
    doeleinden, gebruiksvoorwaarden van bezochte website en bestaande nationale
    en internationale regelgeving.
  </p>

  <p>
    De ‘Guest-WiFi’ een dienst aangeboden door x voor de bezoekers van x. x
    geeft geen garanties met betrekking tot de beschikbaarheid en de security
    van de ‘Guest-WiFi’. Het is aan de bezoeker om zijn eigen toestel afdoende
    te beveiligen.
  </p>

  <p>Bij het gebruik van de ‘Guest-WiFi’ gelden onderstaande principes:</p>
  <ul>
    <li>
      Oneigenlijk gebruik: Het is niet toegestaan om de ‘Guest-WiFi’ te
      gebruiken voor handelingen die indruisen tegen de bestaande nationale en
      internationale regelgeving, alsook tegen de gedragscode zoals hieronder
      vermeld. In geen geval mag de ‘Guest-WiFi’ gebruikt worden voor
      frauduleuze doeleinden of voor het opzetten van een anonieme verbinding.
      Gedragscode: Illegale handelingen zijn expliciet verboden. Hieronder wordt
      verstaan o.a. hacking, piraterij (downloaden en verspreiden van
      auteursrechtelijk beschermde werken waaronder o.a. muziek, films,
      computerprogramma’s en games), downloaden en verspreiden van
      kinderpornografie. Daarnaast zijn handelingen die indruisen tegen het
      ethisch en verantwoord gebruik van internet, eveneens verboden. Hieronder
      wordt verstaan o.a. het downloaden en verspreiden van obsceen, seksueel
      expliciet, haatdragend of opruiend materiaal, het maken van inbreuken op
      intellectueel eigendomsrecht en het bewust verspreiden van bedreiging op
      vlak van security en beveiliging van persoonsgegevens.
    </li>
    <li>
      Bij misbruik behoudt x het recht om de connectie te weigeren of af te
      sluiten én zich door bezoeker te laten vrijwaren en vergoeden voor alle
      aanspraken of vorderingen gerelateerd aan het gebruik van de ‘Guest-WiFi’.
      Daarenboven neemt X geen verantwoordelijkheid en aanvaard het geen
      aansprakelijkheid voor inhoud die geüpload, gedeeld, verzonden of
      gedownload wordt door de bezoeker of derden, noch voor gegevens die
      verloren of gecompromitteerd kunnen worden tijdens de connectie met de
      ‘Guest-WiFi’.
    </li>

    <li>
      Bij het gebruik van de ‘Guest-WiFi’ worden identificatiegegevens (log-in)
      en elektronische identificatiegegevens (verbonden apparaten, MAC-adres,
      locatie, duur, etc.) verzameld. Deze gegevens worden louter verwerkt in
      het kader van het goed beheer van een gastennetwerk (opsporen van misbruik
      en het verbeteren van de netwerk-performantie). In geen geval wordt er
      door X actief controle gevoerd op de inhoud gedeeld bij het gebruik
      van de ‘Guest-WiFi’. De gegevens worden hierbij niet langer bewaard dan 3
      maanden. Vragen hieromtrent kunnen gericht worden naar X@X.be.
    </li>
    <li>
      Neem contact op met een van onze medewerkers als u problemen heeft met
      aanmelden.
    </li>
  </ul>
</mat-dialog-content>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
