table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
  margin: auto;
  padding-top: 20px;
}
